body{
margin:0;
font-family:Arial;
}

.login-body{
background:linear-gradient(135deg,#00c6ff,#0072ff);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.scrolling-bar{
position:absolute;
top:0;
width:100%;
background:black;
color:white;
padding:10px;
font-size:18px;
}

.login-box{
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
text-align:center;
}

input,select,textarea{
display:block;
width:250px;
margin:10px auto;
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:10px 20px;
border:none;
border-radius:20px;
background:#28a745;
color:white;
cursor:pointer;
}

button:hover{
background:#1e7e34;
}

header{
background:#0077b6;
color:white;
text-align:center;
padding:20px;
font-size:26px;
}

.order-section{
text-align:center;
padding:30px;
background:linear-gradient(120deg,#84fab0,#8fd3f4);
}

.form-card{
background:white;
padding:20px;
width:320px;
margin:auto;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.payment{
text-align:center;
padding:30px;
}

.upi-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.upi-card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.help{
background:white;
padding:30px;
width:320px;
margin:30px auto;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
text-align:center;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
}
